/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f1f5f8;
  min-height: 100vh;
}
.heading {
  color: #2d3a35;
  font-family: 'Roboto';
  font-size: 30px;
}
.count {
  color: #c20a72;
}
.paragraph {
  color: #2d3a35;
  font-family: 'Roboto';
  font-size: 12px;
}
.button {
  color: #ffffff;
  background-color: #007bff;
  height: 30px;
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border-style: solid;
  border-width: 0px;
}
